.latest-content{height:215px; margin-bottom:20px; position:relative; width:162px}

#s{height:15px; width:180px}

#searchform{margin-bottom:0}

#searchsubmit{height:2.3em}

.post-category{margin-bottom:0}

.postMeta-post{padding-bottom:0}

#sidebar li a{display:inline-block}
