.side h2 {
	margin-left: -16px;
	border-bottom: none;
	margin-bottom: 0px !important;
}
.side ul {
	border-top: 1px solid #87bc44;
	padding-top: 10px;
}
.textwidget, .adrotatorwidget {
	border-top: 1px solid #87bc44;
	padding-top: 10px;
}

