/* blog view */
#boxlist .blog-post img {max-width:99%;}
#boxlist .blog-post {margin:5px; margin-bottom:20px; font-size:14px;}
#boxlist .blog-post h3 {margin-bottom:15px; font-size:22px;}
#boxlist .blog-post h3 span {display:inline; margin-left:10px; font-size:12px;}
#boxlist span.blog-post-meta {display:block; text-align:right; margin-top:10px; font-size:12px;}
/* end blog view */